{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Редактировать профиль</h3>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <h5>Основная информация</h5>
                        {{ user_form.as_p }}
                        
                        <h5 class="mt-3">Профиль</h5>
                        {{ profile_form.as_p }}
                        
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="{% url 'profile' %}" class="btn btn-secondary">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}